[Unit]
Description=Mini-AD Max UID/GID JSON Service
After=network.target

[Service]
# Run as root (needed for port 80)
User=root
Group=root

ExecStart=/module-oci-mini-ad/scripts/maxUidNumber.py

Restart=on-failure
RestartSec=5s

WorkingDirectory=/module-oci-mini-ad/scripts

[Install]
WantedBy=multi-user.target
